@use 'theme';

body {
  display: flex;
  flex-direction: column;
  @extend %white-background;

  main {
    @include theme.horizontal-symmetrical-margin($value: 35px);


    #add-entry {
      display: flex;
      flex-direction: row;

      input[type=text] {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 5px solid theme.$secondaryCol;
        width: 100%;
      }
      button[type=submit] {
        border: none;
        background-color: transparent;
        @include theme.horizontal-symmetrical-margin($value: 10px);
      }
    }


  }
}
